.header {
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color: rgb(37, 37, 136);
    padding: 4%;
    margin-bottom: 1%;
    background-image: linear-gradient(to bottom, #6666ff 0%, #ccffff 100%);
}