.form-control{
  margin-left: 7%;
  padding-right: 22%;
  border: 2px solid #8989BB;
  font-weight: bold;
  color: rgb(37, 37, 136);
}
button{
  border: transparent;
  padding: 0;
  margin-left: 5%;
}
table{
  margin-top: 2%;
}
#tableDiv{
  overflow-x: scroll;
  margin-right: 2%;
  margin-left: 2%;
}
form{
  margin-left: 2%;
}
#container{
  overflow-x: hidden;
}
@media screen and (max-width: 500px){
  form {
    margin-top: 3%;
  }
}
