.form-control{
  margin-left: 7%;
  padding-right: 22%;
  border: 2px solid #8989BB;
  font-weight: bold;
  color: rgb(37, 37, 136);
}
button{
  border: transparent;
  padding: 0;
  margin-left: 5%;
}
table{
  margin-top: 2%;
}
